<<<<<<< HEAD
<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @task.image_url %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
>>>>>>> c98d32fb086b4d5744edc1de3bb74cda0403a523
